<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image</title>
    <style>
      @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: normal;
        src: url("data:font/ttf;charset=UTF-8;base64,<%= font %>");
      }

      * {
        margin: 0;
        padding: 0;
        user-select: none;
      }

      body {
        background-color: #000;
      }

      .logo {
        height: 10%;
        left: 5%;
        position: absolute;
        opacity: 0.5;
        top: 100%;
        transform: translateY(-150%);
      }

      .texts {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .text1,
      .text2 {
        color: #fff;
        font-family: "Poppins";
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 1100px;
      }

      .text1 {
        font-size: 80pt;
      }

      .text2 {
        font-size: 65pt;
      }
    </style>
  </head>
  <body>
    <svg viewBox="0 0 280 114" version="1.1" class="logo">
      <g transform="matrix(1.00009,0,0,1.00012,-36.2231,-21.2204)">
        <g transform="matrix(0.2,0,0,0.2,36.2197,34.0658)">
          <path
            d="M382.812,234.375L368.164,234.375C360.074,234.375 353.516,240.934 353.516,249.023L353.516,424.805C353.516,432.895 360.074,439.453 368.164,439.453L382.812,439.453C398.993,439.453 412.109,426.337 412.109,410.156L412.109,263.672C412.109,247.491 398.993,234.375 382.812,234.375ZM131.836,234.375L117.188,234.375C101.007,234.375 87.891,247.491 87.891,263.672L87.891,410.156C87.891,426.337 101.007,439.453 117.188,439.453L131.836,439.453C139.926,439.453 146.484,432.895 146.484,424.805L146.484,249.023C146.484,240.934 139.926,234.375 131.836,234.375ZM250,0C112.686,0 0,111.709 0,249.023L0,366.211C0,390.443 19.713,410.156 43.945,410.156L58.594,410.156L58.594,263.672L43.945,263.672C38.785,263.672 33.901,264.729 29.297,266.37L29.297,249.023C29.297,127.859 128.836,29.297 250,29.297C371.164,29.297 470.703,127.859 470.703,249.023L470.703,266.37C466.099,264.729 461.215,263.672 456.055,263.672L441.406,263.672L441.406,410.156L456.055,410.156C480.287,410.156 500,390.443 500,366.211L500,249.023C500,111.709 387.314,0 250,0Z"
            style="fill: white"
          />
        </g>
        <g transform="matrix(0.999906,0,0,0.999881,36.2197,21.2179)">
          <path
            d="M218.743,111.669L218.743,106.096C221.571,108.186 224.684,109.231 228.082,109.231C232.641,109.231 234.921,107.711 234.921,104.672C234.921,103.806 234.726,103.073 234.335,102.471C233.945,101.87 233.417,101.337 232.752,100.872C232.087,100.408 231.306,99.991 230.409,99.622C229.512,99.252 228.547,98.867 227.512,98.466C226.077,97.896 224.816,97.321 223.729,96.74C222.642,96.16 221.734,95.506 221.006,94.777C220.278,94.049 219.729,93.221 219.36,92.292C218.991,91.363 218.806,90.276 218.806,89.031C218.806,87.511 219.154,86.166 219.851,84.994C220.547,83.823 221.476,82.841 222.637,82.05C223.798,81.258 225.122,80.662 226.61,80.261C228.098,79.86 229.634,79.659 231.217,79.659C234.024,79.659 236.536,80.145 238.752,81.116L238.752,86.371C236.367,84.81 233.623,84.029 230.52,84.029C229.549,84.029 228.673,84.139 227.892,84.361C227.111,84.583 226.441,84.894 225.882,85.295C225.323,85.696 224.89,86.176 224.584,86.736C224.278,87.295 224.125,87.912 224.125,88.588C224.125,89.432 224.278,90.139 224.584,90.709C224.89,91.279 225.338,91.786 225.929,92.229C226.52,92.672 227.238,93.073 228.082,93.432C228.927,93.791 229.887,94.181 230.963,94.603C232.399,95.152 233.686,95.717 234.826,96.297C235.966,96.878 236.937,97.532 237.739,98.26C238.541,98.988 239.158,99.827 239.591,100.777C240.024,101.727 240.24,102.856 240.24,104.165C240.24,105.769 239.886,107.162 239.179,108.344C238.472,109.526 237.528,110.508 236.346,111.289C235.164,112.07 233.802,112.65 232.262,113.03C230.721,113.41 229.106,113.6 227.418,113.6C224.083,113.6 221.191,112.956 218.743,111.669ZM279.537,111.352C277.046,112.851 274.091,113.6 270.672,113.6C266.049,113.6 262.319,112.096 259.48,109.088C256.641,106.08 255.222,102.181 255.222,97.39C255.222,92.049 256.752,87.759 259.812,84.519C262.873,81.279 266.957,79.659 272.065,79.659C274.914,79.659 277.426,80.187 279.6,81.242L279.6,86.561C277.194,84.873 274.619,84.029 271.875,84.029C268.561,84.029 265.844,85.216 263.722,87.59C261.601,89.965 260.541,93.084 260.541,96.946C260.541,100.746 261.538,103.743 263.532,105.938C265.527,108.133 268.202,109.231 271.558,109.231C274.387,109.231 277.046,108.291 279.537,106.413L279.537,111.352ZM213.468,112.84L208.276,112.84L208.276,107.711L208.149,107.711C205.996,111.637 202.661,113.6 198.144,113.6C190.419,113.6 186.557,108.999 186.557,99.796L186.557,80.419L191.717,80.419L191.717,98.973C191.717,105.811 194.335,109.231 199.569,109.231C202.102,109.231 204.186,108.297 205.822,106.429C207.458,104.561 208.276,102.118 208.276,99.099L208.276,80.419L213.468,80.419L213.468,112.84ZM250.169,112.84L244.976,112.84L244.976,80.419L250.169,80.419L250.169,112.84ZM179.256,112.84L173.969,112.84L173.969,82.382C173.969,79.976 174.116,77.031 174.412,73.549L174.285,73.549C173.779,75.596 173.325,77.063 172.924,77.95L157.41,112.84L154.814,112.84L139.332,78.203C138.889,77.19 138.435,75.638 137.971,73.549L137.844,73.549C138.013,75.364 138.097,78.33 138.097,82.445L138.097,112.84L132.969,112.84L132.969,67.438L139.997,67.438L153.928,99.099C155.004,101.527 155.701,103.342 156.017,104.545L156.207,104.545C157.115,102.054 157.843,100.197 158.392,98.973L172.607,67.438L179.256,67.438L179.256,112.84ZM247.636,72.187C246.707,72.187 245.916,71.871 245.261,71.237C244.607,70.604 244.28,69.802 244.28,68.831C244.28,67.86 244.607,67.053 245.261,66.409C245.916,65.765 246.707,65.443 247.636,65.443C248.586,65.443 249.393,65.765 250.058,66.409C250.723,67.053 251.055,67.86 251.055,68.831C251.055,69.76 250.723,70.551 250.058,71.206C249.393,71.86 248.586,72.187 247.636,72.187ZM163.869,46.099C160.513,47.872 156.334,48.758 151.331,48.758C144.873,48.758 139.702,46.679 135.818,42.521C131.934,38.363 129.992,32.906 129.992,26.152C129.992,18.891 132.177,13.023 136.546,8.548C140.915,4.074 146.456,1.836 153.168,1.836C157.474,1.836 161.041,2.459 163.869,3.704L163.869,9.372C160.619,7.556 157.03,6.649 153.104,6.649C147.891,6.649 143.664,8.39 140.425,11.873C137.185,15.356 135.565,20.01 135.565,25.835C135.565,31.366 137.079,35.772 140.108,39.054C143.137,42.336 147.11,43.977 152.028,43.977C156.587,43.977 160.534,42.964 163.869,40.938L163.869,46.099ZM221.883,46.827L221.883,41.254C224.712,43.344 227.825,44.389 231.223,44.389C235.782,44.389 238.062,42.869 238.062,39.83C238.062,38.964 237.866,38.231 237.476,37.629C237.086,37.028 236.558,36.495 235.893,36.03C235.228,35.566 234.447,35.149 233.55,34.78C232.653,34.41 231.687,34.025 230.653,33.624C229.218,33.054 227.957,32.479 226.87,31.899C225.783,31.318 224.875,30.664 224.147,29.936C223.419,29.207 222.87,28.379 222.501,27.45C222.131,26.521 221.947,25.434 221.947,24.189C221.947,22.669 222.295,21.324 222.991,20.152C223.688,18.981 224.617,17.999 225.778,17.208C226.938,16.416 228.263,15.82 229.751,15.419C231.239,15.018 232.774,14.817 234.357,14.817C237.165,14.817 239.676,15.303 241.893,16.274L241.893,21.53C239.508,19.968 236.764,19.187 233.661,19.187C232.69,19.187 231.814,19.297 231.033,19.519C230.252,19.741 229.582,20.052 229.023,20.453C228.463,20.854 228.031,21.334 227.725,21.894C227.419,22.453 227.266,23.07 227.266,23.746C227.266,24.59 227.419,25.297 227.725,25.867C228.031,26.437 228.479,26.944 229.07,27.387C229.661,27.83 230.379,28.231 231.223,28.59C232.067,28.949 233.028,29.339 234.104,29.761C235.539,30.31 236.827,30.875 237.967,31.455C239.106,32.036 240.077,32.69 240.879,33.418C241.682,34.146 242.299,34.986 242.732,35.935C243.164,36.885 243.381,38.014 243.381,39.323C243.381,40.927 243.027,42.32 242.32,43.502C241.613,44.684 240.668,45.666 239.486,46.447C238.304,47.228 236.943,47.808 235.402,48.188C233.861,48.568 232.247,48.758 230.558,48.758C227.223,48.758 224.332,48.114 221.883,46.827ZM192.382,47.998L187.19,47.998L187.19,42.932L187.063,42.932C184.805,46.816 181.481,48.758 177.09,48.758C173.861,48.758 171.333,47.903 169.508,46.194C167.682,44.484 166.769,42.215 166.769,39.386C166.769,33.329 170.336,29.804 177.47,28.812L187.19,27.45C187.19,21.941 184.963,19.187 180.51,19.187C176.605,19.187 173.08,20.516 169.935,23.176L169.935,17.857C173.122,15.831 176.795,14.817 180.953,14.817C188.572,14.817 192.382,18.849 192.382,26.912L192.382,47.998ZM204.116,47.998L198.923,47.998L198.923,0L204.116,0L204.116,47.998ZM216.577,47.998L211.385,47.998L211.385,0L216.577,0L216.577,47.998ZM187.19,31.598L179.37,32.674C176.964,33.012 175.148,33.608 173.924,34.463C172.7,35.318 172.088,36.832 172.088,39.006C172.088,40.59 172.653,41.882 173.782,42.885C174.911,43.888 176.415,44.389 178.293,44.389C180.868,44.389 182.995,43.487 184.673,41.682C186.351,39.877 187.19,37.592 187.19,34.827L187.19,31.598Z"
            style="fill: white"
          />
        </g>
      </g>
    </svg>
    <div class="texts">
      <h1 class="text1"><%= text1 %></h1>
      <h1 class="text2"><%= text2 %></h1>
    </div>
    <script>
      const colors = [
        "#1e555c",
        "#f15152",
        "#1b1f3b",
        "#454ade",
        "#020202",
        "#4e0110",
        "#0a014f",
        "#022b3a",
        "#3c1642",
        "#307351",
        "#ef233c",
        "#000000",
        "#0061ff",
        "#0061ff",
        "#432371",
        "#f13c77",
      ];

      document.body.style.backgroundColor =
        colors[Math.floor(Math.random() * colors.length)];
    </script>
  </body>
</html>
